<?xml version='1.0' encoding='utf-8'?>
<widget id="com.georgegarside.tda-enrichment" version="2.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>TDA-Enrichment</name>
    <description>
        Always have access to Thomas Deacon Academy's Sports Enrichment with the official TDA Enrichment app.
    </description>
    <author email="grg.garside@gmail.com" href="https://georgegarside.com/">
        George Garside
    </author>
    <content src="index.html" />
    <access origin="*" />
</widget>
